.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control_container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.modes_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer {
  position: absolute;
  bottom: 8px;
}

@media only screen and (max-width: 600px) {
  .modes_container {
    flex-direction: column;
  }
}
