.time {
  font-weight: bold;
  font-size: 9rem;
}

.completedCount {
  font-size: 2rem;
}

.footerText {
  font-size: 0.75rem;
}

.time, .completedCount {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .time {
    font-size: 4rem;
  }
}
